Schemas/Packages.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2017 sp2 (http://www.altova.com) by Chris McGrath (Harmonic) -->
<!-- W3C Schema generated by XMLSpy v2017 sp2 (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="package">
		<xs:complexType>
			<xs:attribute name="disabled" type="xs:boolean"/>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Chocolatey"/>
						<xs:enumeration value="VSCodeExtension"/>
						<xs:enumeration value="Installer"/>
						<xs:enumeration value="NPM"/>
						<xs:enumeration value="Zip"/>
						<xs:enumeration value="ZipInstaller"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="install">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="nvm-setup.exe"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="source" type="xs:anyURI"/>
			<xs:attribute name="target">
				<xs:simpleType>
					<xs:restriction base="xs:anyURI"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="msi" type="xs:boolean"/>
			<xs:attribute name="command">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="location" type="xs:anyURI"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="packages">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="package" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="packageType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Chocolatey"/>
			<xs:enumeration value="NPM"/>
			<xs:enumeration value="VsCodeExtension"/>
			<xs:enumeration value="VsExtension"/>
			<xs:enumeration value="Zip"/>
			<xs:enumeration value="ZipInstaller"/>		
			<xs:enumeration value="Installer"/>
			<xs:enumeration value="Yarn"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
